*.egg-info
*.iml
*.pyc
*.swp
/.cache
/.coverage
/.idea
/.python*-*
/build
/dist
/htmlcov
/pylint.html
*.ipynb*
/input
*bundle
*.log
*pwd_override*
*.log
*.log.*
*_old*
*ohdsi*
pysqlite3*
/transformer_models
/resources
/__MAC*
.vscode
Pipfile.lock