[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
setuptools = "*"
wheel = "*"
cava-lang = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
